<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 401 - Página no encontrada</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            text-align: center;
            padding: 50px;
            
        }
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 20px;
        }
        a {
            color: #007bff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body class="fondoImagenPatrones container-fluid text-center">
    <% if (typeof error_msg !== 'undefined' && error_msg !== '') { %>
    <div>
        <h1 class="text-white">Error 401</h1>
        <p class="text-white">Acceso no autorizado</p>
        <p class="text-white">Acceda nuevamente con su usuario y contraseña</p>
        <a href="/login" class="btn btn-primary">Volver al inicio</a>
    </div>
    <% } else { %>
        <div class="alert alert-danger">
            <h1 class="text-white">Error 401</h1>
            <p class="text-white"><%= error_msg || 'Usuario y/o contraseña inválidos' %></p>
        </div>
        <a href="/login" class="btn btn-primary">Volver al inicio</a>
    <% } %>
</body>
</html>