<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootswatch.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/logo_policial.png">
    <link rel="stylesheet" href="/css/style-bar.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <title>Error 404 - Página no encontrada</title>
    <style>
        /* body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            text-align: end;
            padding-top: 20%;
            padding-right: 20%;
            background: url(../img/policapibara.png);
            background-repeat: no-repeat;
            background-size: 30%;
            background-attachment: fixed;
            line-height: 20px;
        } */
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 20px;
        }
        a {
            color: #007bff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body class="fondoImagenPatrones container-fluid text-center">
    <h1 class="text-white">Error 404</h1>
    <p class="text-white">Lo sentimos, la página que buscas no fue encontrada.</p>
    <a href="/login">Volver al inicio</a>
</body>
</html>